.app__header {
    background: url(../Netflix-BG.png);
    height: 90vh;
    width: 100%;
    position: relative;
}

.app__header_navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 80px;
}


.app__header_icon {
    display: flex;
    /* flex-grow: 1; */
    justify-content: space-evenly;
    max-width: 800px;
    z-index: 999;
    margin-top: 30px;
    margin-bottom: 50px;
}

.app__header_img {
    margin-top: -1rem;
    z-index: 999;
}

.app__header_image {
    object-fit: contain;
}

.app__header::after {
    content: "";
    display: inline-block;
    background: rgba(0, 0, 0, 0.666);
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1;
    transform: scaleY(1);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}


.app__header_banner {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app__header_banner h1 {
    font-size: 60px;
    text-align: center;
    color: white;
    letter-spacing: 1px;
}

.app__header_bannerText {
    line-height: 2;
}

.app__header_banner p:first-of-type {
    font-size: 25px;
    text-align: center;
    color: white;
}

.app__header_banner p:last-of-type {
    font-size: 20px;
    text-align: center;
    color: white;
}

.app__header_bannerInput {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.app__header_bannerInput input {
    outline: none;
    width: 35vw;
    border: none;
    padding: 25px;
    margin-left: 0;
    font-size: 1.6rem;
}
.app__header_bannerInput button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    padding: 17px;
    background-color: #E50914;
    border: none;
    color: #fff;
    font-size: 3rem;

}

.app__header_bannerInput button svg {
   height: 25px;
}


@media (max-width: 1298px) {
    
    .app__header_banner h1 {
        font-size: 40px;
    }

    .app__header_banner p:first-of-type {
        font-size: 30px;
    }
    
    .app__header_banner p:last-of-type {
        font-size: 20px;
        text-align: center;
        color: white;
    }

    .app__header_bannerInput {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        /* width: 100%; */
        padding: 10px 100px;
    }

    .app__header_bannerInput button {
        font-size: 1.5rem;
        margin-top: 20px;
        padding: 10px 50px;
    
    }
    
}

@media (max-width: 880px) {
   

    .app__header_banner h1 {
        font-size: 50px;
    }

    .app__header_bannerText {
        display: none;
    }
}

@media (max-width: 768px) {
    .app__header_navbar {
        flex-direction: column;
    }

    .app__header_banner h1 {
        font-size: 30px;
    }

}

@media (max-width: 500px) {    
    .app__header_banner h1 {
        font-size: 30px;
        margin-top: 50px;
    }

    .app__header_bannerText {
        display: none;
    }
}

@media (orientation: landscape) and (max-height: 400px) {
    .app__header_banner {
        display: none;
    }
}